# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Next.js
/.next/
/out/
/build
.next-env.d.ts

# Production
/build
/dist

# Environment variables
.env
.env.*
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace
*.code-workspace

# Supabase
.supabase/

# Local development certificates
*.pem
*.crt
*.key

# Temporary files
*.tmp
*.temp
*~

# Cache
.cache/
.eslintcache
tsconfig.tsbuildinfo

# Local Netlify folder
.netlify

# Vercel
.vercel

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map 